.Messenger{
    display: flex;
    height: calc(100vh - 70px);
}

.chatMenu{
    flex: 2.7;
}

.chatBox{
    flex: 6;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  min-height: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 80px;
  padding: 10px;
  max-height: 80px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  color: white;
}


.chatOnline{
    flex: 2.3;
}


.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}


.chatMenuInput {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
  }
.chatMenuInput .placeholder



.noCovText {
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: rgba(170, 168, 168, 0.661);
    cursor: default;
  }
