.createpost-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}

.createpost-container01 {
  flex: 0 0 auto;
  width: 1180px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.createpost-container02 {
  flex: 0 0 auto;
  width: 1238px;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.createpost-navlink {
  color: var(--dl-color-custom-neutral-dark);
  width: 20%;
  height: 100%;
  font-size: 17px;
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 500;
  margin-left: 0px;
  margin-right: 2%;
  text-decoration: none;
  background-color: var(--dl-color-custom-primary2);
}
.createpost-image {
  width: 102px;
  height: 98px;
  align-self: flex-start;
  margin-top: -70px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  margin-bottom: 15px;
}
.createpost-hero {
  width: 100%;
  height: 793px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.createpost-sidebar {
  width: 20%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.createpost-nav {
  width: 144px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.createpost-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon {
  width: 24px;
  height: 24px;
}
.createpost-navlink1 {
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.createpost-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon02 {
  width: 24px;
  height: 24px;
}
.createpost-text {
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.createpost-container05 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon04 {
  width: 24px;
  height: 24px;
}
.createpost-text03 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
}
.createpost-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon06 {
  width: 24px;
  height: 24px;
}
.createpost-text04 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
}
.createpost-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon08 {
  width: 24px;
  height: 24px;
}
.createpost-navlink2 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}

.createpost-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-icon10 {
  width: 24px;
  height: 24px;
}
.createpost-text05 {
  align-self: flex-end;
}
.createpost-container10 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.createpost-button {
  height: 57px;
  align-self: stretch;
  margin-top: 30px;
  transition: 0.3s;
  margin-left: 0%;
  margin-bottom: 30px;
}


.createpost-profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.createpost-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
}
.createpost-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.createpost-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.createpost-container11 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.createpost-text06 {
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.createpost-text07 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
.createpost-dropdown-arrow {
  transition: 0.3s;
}
.createpost-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.createpost-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.createpost-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.createpost-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.createpost-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.createpost-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.createpost-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.createpost-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.createpost-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.createpost-hero1 {
  width: 58.6%;
  height: 774px;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-bottom: 51px;
  justify-content: flex-start;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.createpost-text10 {
  align-self: stretch;
  line-height: 1.25;
}
.createpost-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: flex-start;
}
.createpost-textarea {
  width: 100%;
  height: 491px;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 0.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.createpost-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.createpost-icon12 {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.createpost-icon16 {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.createpost-button1 {
  font-size: 20px;
  transition: 0.3s;
  margin-left: 70%;
}


.createpost-features {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createpost-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.createpost-banner1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.createpost-faq {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createpost-pricing {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createpost-footer {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createpost-faq-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 991px) {
  .createpost-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .createpost-image1 {
    margin-left: 0px;
  }
  .createpost-hero1 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .createpost-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .createpost-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
