.editprofile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.editprofile-container1 {
  width: 100%;
  height: 751px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.editprofile-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-primary2);
}
.editprofile-container2 {
  width: 909px;
  height: 545px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.editprofile-sidebar {
  width: 572px;
  height: 656px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.editprofile-nav {
  width: 468px;
  height: 529px;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 101px;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-light);
}
.editprofile-text {
  align-self: center;
}
.editprofile-text03 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-textarea {
  color: var(--dl-color-gray-black);
  width: 327px;
  height: 53px;
  align-self: center;
}
.editprofile-text04 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-textinput {
  width: 321px;
  font-size: 16px;
  align-self: center;
}
.editprofile-text05 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-textinput1 {
  width: 325px;
  font-size: 16px;
  align-self: center;
}
.editprofile-text08 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-textinput2 {
  width: 97px;
  font-size: 16px;
  align-self: center;
}
.editprofile-text09 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-gender {
  z-index: 100;
  align-self: center;
}
.editprofile-text10 {
  color: var(--dl-color-custom-neutral-dark);
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.editprofile-image {
  width: 89px;
  height: 89px;
  align-self: center;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.editprofile-link {
  color: var(--dl-color-primary-100);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.editprofile-button {
  color: var(--dl-color-custom-neutral-light);
  align-self: center;
  background-color: rgba(135, 147, 146, 0.57);
}
.editprofile-features {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editprofile-pricing {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editprofile-banner {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .editprofile-sidebar {
    height: 70vh;
  }
}
