.loginafterregister-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
.loginafterregister-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: row;
}
.loginafterregister-container02 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  padding-right: 15px;
  flex-direction: row;
}
.loginafterregister-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.loginafterregister-header1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.loginafterregister-nav {
  display: flex;
}
.loginafterregister-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.loginafterregister-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.loginafterregister-burger-menu {
  display: none;
}
.loginafterregister-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.loginafterregister-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.loginafterregister-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.loginafterregister-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.loginafterregister-image {
  height: 2rem;
}
.loginafterregister-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginafterregister-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.loginafterregister-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.loginafterregister-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.loginafterregister-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.loginafterregister-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginafterregister-hero1 {
  height: 644px;
}
.loginafterregister-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.loginafterregister-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.loginafterregister-hero-heading {
  width: 621px;
  height: 80px;
  max-width: 800px;
  align-self: center;
  text-align: center;
}
.loginafterregister-container05 {
  flex: 0 0 auto;
  width: 687px;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.loginafterregister-image1 {
  width: 246px;
  height: 246px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  border-top-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.loginafterregister-container06 {
  width: 327px;
  height: 242px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.loginafterregister-btn-group1 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.loginafterregister-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginafterregister-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.loginafterregister-container13 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.loginafterregister-button {
  width: 290px;
  height: 35px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-halfunit);
}
.loginafterregister-button1 {
  width: 288px;
  height: 33px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-halfunit);
}
.loginafterregister-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.loginafterregister-container15 {
  display: flex;
  position: relative;
}
.loginafterregister-button2 {
  color: var(--dl-color-custom-neutral-light);
  width: 112px;
  height: 44px;
  font-style: normal;
  font-weight: 800;
  background-color: var(--dl-color-custom-primary2);
}
.loginafterregister-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loginafterregister-container17 {
  display: flex;
  position: relative;
}
.loginafterregister-text14 {
  align-self: flex-start;
  font-weight: 400;
}
.loginafterregister-container18 {
  display: flex;
  position: relative;
}
.loginafterregister-navlink {
  color: var(--dl-color-custom-neutral-light);
  width: 112px;
  height: 44px;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  background-color: var(--dl-color-custom-primary2);
}
.loginafterregister-button3 {
  color: var(--dl-color-custom-neutral-light);
  width: 162px;
  height: 54px;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  padding-left: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.loginafterregister-text17 {
  font-size: 20px;
}
.loginafterregister-container19 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loginafterregister-button4 {
  color: var(--dl-color-custom-neutral-light);
  font-style: normal;
  font-weight: 700;
  background-color: var(--dl-color-custom-primary2);
}
@media(max-width: 991px) {
  .loginafterregister-hero1 {
    flex-direction: column;
  }
  .loginafterregister-container04 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .loginafterregister-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .loginafterregister-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .loginafterregister-desktop-menu {
    display: none;
  }
  .loginafterregister-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .loginafterregister-nav {
    display: none;
  }
  .loginafterregister-btn-group {
    display: none;
  }
  .loginafterregister-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loginafterregister-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .loginafterregister-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .loginafterregister-header1 {
    padding: var(--dl-space-space-unit);
  }
  .loginafterregister-mobile-menu {
    padding: 16px;
  }
  .loginafterregister-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .loginafterregister-container04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .loginafterregister-btn-group1 {
    flex-direction: column;
  }
}
