.chatroom-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.chatroom-container01 {
  width: 272px;
  height: 1051px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.chatroom-sidebar {
  top: 180px;
  left: 10px;
  width: 252px;
  height: 650px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.chatroom-nav {
  width: 144px;
  height: 446px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.chatroom-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon {
  width: 24px;
  height: 24px;
}
.chatroom-navlink {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chatroom-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon02 {
  width: 24px;
  height: 24px;
}
.chatroom-text {
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.chatroom-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon04 {
  width: 24px;
  height: 24px;
}
.chatroom-text01 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
}
.chatroom-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon06 {
  width: 24px;
  height: 24px;
}
.chatroom-text02 {
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.chatroom-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon08 {
  width: 24px;
  height: 24px;
}
.chatroom-navlink1 {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}

.chatroom-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-icon10 {
  width: 24px;
  height: 24px;
}
.chatroom-text03 {
  align-self: flex-end;
}
.chatroom-container09 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chatroom-button {
  height: 57px;
  align-self: stretch;
  margin-top: 30px;
  transition: 0.3s;
  margin-left: 0%;
  margin-bottom: 30px;
}


.chatroom-profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.chatroom-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
}
.chatroom-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.chatroom-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.chatroom-container10 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.chatroom-text04 {
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.chatroom-text05 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}
.chatroom-dropdown-arrow {
  transition: 0.3s;
}
.chatroom-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chatroom-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chatroom-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chatroom-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chatroom-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chatroom-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chatroom-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chatroom-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chatroom-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.chatroom-image1 {
  top: 26px;
  left: 73px;
  width: 102px;
  height: 98px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
.chatroom-container11 {
  width: 678px;
  height: 804px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.chatroom-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
}
.chatroom-text08 {
  top: 2px;
  right: 8px;
  width: 553px;
  height: 39px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: -20px;
}
.chatroom-text09 {
  font-family: "Inter";
}
.chatroom-image2 {
  width: 84px;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 0px;
}
.chatroom-icon12 {
  top: 10px;
  right: 17px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.chatroom-container13 {
  width: 100%;
  height: 722px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-custom-accent1);
  border-style: groove;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.chatroom-container14 {
  flex: 0 0 auto;
  left: -1px;
  width: 100%;
  bottom: 7px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-custom-primary2);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
}
.chatroom-container15 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 453px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-custom-primary2);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius2);
}
.chatroom-textarea {
  flex: 1;
  left: 0px;
  width: 386px;
  bottom: 4px;
  position: absolute;
  margin-top: auto;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: auto;
}
.chatroom-icon14 {
  top: 0px;
  right: 0px;
  width: 47px;
  height: 47px;
  position: absolute;
  margin-top: 6px;
  margin-left: auto;
  margin-right: 80px;
  margin-bottom: 6px;
}
.chatroom-icon16 {
  right: 0px;
  width: 47px;
  bottom: 0px;
  height: 47px;
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.chatroom-button1 {
  top: 13px;
  left: 424px;
  width: 90px;
  position: absolute;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
}
.chatroom-container16 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea1 {
  top: 15px;
  color: var(--dl-color-gray-white);
  right: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time {
  top: var(--dl-space-space-unit);
  left: 312px;
  bottom: var(--dl-space-space-unit);
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-container17 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea2 {
  top: 15px;
  color: var(--dl-color-gray-white);
  right: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time1 {
  top: var(--dl-space-space-unit);
  left: 312px;
  bottom: var(--dl-space-space-unit);
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-container18 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea3 {
  top: 15px;
  color: var(--dl-color-gray-white);
  right: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time2 {
  top: var(--dl-space-space-unit);
  left: 312px;
  bottom: var(--dl-space-space-unit);
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-container19 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea4 {
  top: 15px;
  color: var(--dl-color-gray-white);
  right: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time3 {
  top: var(--dl-space-space-unit);
  left: 312px;
  bottom: var(--dl-space-space-unit);
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-container20 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea5 {
  top: 15px;
  color: var(--dl-color-gray-white);
  right: 15px;
  margin: auto;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time4 {
  top: var(--dl-space-space-unit);
  left: 312px;
  bottom: var(--dl-space-space-unit);
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-container21 {
  width: 100%;
  height: 88px;
  display: flex;
  position: relative;
  justify-content: center;
}
.chatroom-textarea6 {
  top: 15px;
  left: 0px;
  color: var(--dl-color-gray-white);
  margin: 10px;
  position: absolute;
  background-color: rgba(135, 147, 146, 0.19);
}
.chatroom-date-time5 {
  top: 26px;
  left: 235px;
  height: 30%;
  opacity: 0.3;
  position: absolute;
  font-size: 12px;
}
.chatroom-sidebar1 {
  width: 25.7%;
  height: 815px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 0ts;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.chatroom-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 103px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.chatroom-text11 {
  font-size: 25px;
  font-style: normal;
  margin-top: 10px;
  font-weight: 700;
  margin-left: 10px;
}
.chatroom-textinput {
  left: 0px;
  width: 70%;
  bottom: 5px;
  height: 34px;
  position: absolute;
  align-self: flex-end;
  margin-top: 10px;
  margin-left: 20px;
  border-color: var(--dl-color-custom-primary2);
  border-width: 2px;
  margin-right: 20px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 10px;
}
.chatroom-icon18 {
  top: 17px;
  right: 12px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.chatroom-container23 {
  width: 100%;
  height: 723px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.chatroom-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.chatroom-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .chatroom-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .chatroom-image {
    margin-left: 0px;
  }
}
