.search-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.search-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.search-container02 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.search-image {
  width: 102px;
  height: 98px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fourunits);
}
.search-container03 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.search-textinput {
  color: var(--dl-color-gray-black);
  width: 584px;
  height: 71px;
  font-size: xx-large;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  margin-left: var(--dl-space-space-fiveunits);
  border-color: #f1f1f1;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
  background-color: #e0e0e0;
}
.search-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-text {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-right: 4px;
  vertical-align: middle;
}
.search-dropdown-arrow {
  transition: 0.3s;
}
.search-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.search-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.search-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.search-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.search-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.search-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.search-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.search-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 644px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.search-container05 {
  flex: 0 0 auto;
  width: 202px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-sidebar {
  width: 202px;
  height: 70vh;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-container06 {
  width: 480px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.search-container07 {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.search-text03 {
  color: var(--dl-color-gray-black);
  width: auto;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}
.search-icon2 {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.search-container08 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-light);
}
.search-text04 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.search-text05 {
  font-size: 25px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.search-text06 {
  margin-left: var(--dl-space-space-halfunit);
}
.search-container09 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-light);
}
.search-text07 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.search-text08 {
  font-size: 25px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.search-text09 {
  margin-left: var(--dl-space-space-halfunit);
}
.search-container10 {
  width: 480px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.search-container11 {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.search-text10 {
  color: var(--dl-color-gray-black);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}
.search-icon4 {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.search-container12 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-light);
}
.search-text11 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.search-text12 {
  font-size: 25px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.search-text13 {
  margin-left: var(--dl-space-space-halfunit);
}
.search-container13 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-light);
}
.search-text14 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.search-text15 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.search-text16 {
  margin-left: var(--dl-space-space-halfunit);
}
.search-features {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-pricing {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-banner {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-faq-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
