.chatuser-container {
  width: 25.7%;
  height: 101px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.chatuser-container1 {
  width: 100%;
  height: 98px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 5px;
  align-items: center;
  margin-left: 5px;
  border-color: var(--dl-color-custom-primary2);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 5px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.chatuser-container2 {
  flex: 0 0 auto;
  left: 0px;
  width: 110px;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.chatuser-image {
  width: 95%;
  height: 95%;
  object-fit: cover;
}
.chatuser-container3 {
  flex: 0 0 auto;
  left: 101px;
  width: 215px;
  bottom: -3px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatuser-text {
  top: 37px;
  left: 10px;
  position: absolute;
}
.chatuser-text1 {
  top: 8px;
  left: 10px;
  position: absolute;
}
.chatuser-root-class-name {
  width: 100%;
}
.chatuser-root-class-name1 {
  width: 100%;
}
.chatuser-root-class-name2 {
  width: 100%;
}
.chatuser-root-class-name3 {
  width: 100%;
}
.chatuser-root-class-name4 {
  width: 100%;
  opacity: 0.7;
  background-color: var(--dl-color-custom-primary2);
}
.chatuser-root-class-name5 {
  width: 100%;
}
.chatuser-root-class-name6 {
  width: 100%;
}
.chatuser-root-class-name7 {
  width: 100%;
}
