.component4-container {
  width: 861px;
  height: 63px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  padding-top: 5px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: flex-start;
}
.component4-container1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.component4-text {
  align-self: flex-start;
  text-align: left;
}
