.following-container {
  width: 719px;
  height: 174px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.following-container1 {
  flex: 0 0 auto;
  width: 90%;
  height: 95%;
  display: flex;
  align-self: center;
  margin-top: 5px;
  align-items: center;
  margin-left: 5px;
  border-color: var(--dl-color-custom-primary2);
  border-width: 2px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 5px;
  justify-content: center;
}
.following-container2 {
  flex: 0 0 auto;
  width: 10%;
  height: 100%;
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 5nits;
  flex-direction: column;
}
.following-image {
  width: 100%;
  height: 69px;
  object-fit: cover;
}
.following-container3 {
  width: 622px;
  height: 132px;
  display: flex;
  position: relative;
  margin-top: 5px;
  align-items: flex-start;
  margin-right: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: flex-start;
}
.following-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-left: 10px;
  text-transform: capitalize;
}
.following-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  justify-content: flex-start;
}
.following-text1 {
  margin-top: 3px;
  margin-left: 10px;
  text-transform: capitalize;
}
.following-text2 {
  top: 60px;
  left: 20px;
  position: absolute;
}
.following-button {
  right: 0px;
  position: absolute;
  font-style: normal;
  margin-top: 13px;
  font-weight: 500;
  margin-right: 30px;
  padding-right: 0reeUnits;
  text-transform: capitalize;
  background-color: rgba(133, 220, 255, 0.32);
}
.following-root-class-name {
  width: 730px;
  margin-left: 5px;
}
.following-root-class-name1 {
  width: 730px;
  margin-left: 5px;
}
.following-root-class-name2 {
  width: 730px;
  margin-left: 5px;
}
.following-root-class-name3 {
  width: 730px;
  margin-left: 5px;
}
.following-root-class-name4 {
  width: 730px;
  margin-left: 5px;
}
.following-root-class-name5 {
  width: 730px;
  margin-left: 5px;
}
