.manage-user-container {
  width: 991px;
  height: 101px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.manage-user-container1 {
  width: 1029px;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 5px;
  align-items: center;
  margin-left: 5px;
  border-color: var(--dl-color-custom-primary2);
  border-width: 2px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 5px;
  justify-content: center;
}
.manage-user-container2 {
  flex: 0 0 auto;
  width: 10%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 5px;
  align-items: flex-start;
  margin-left: 5px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  margin-bottom: 5nits;
  flex-direction: column;
}
.manage-user-container3 {
  flex: 0 0 auto;
  width: 622px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.manage-user-container4 {
  width: 622px;
  height: 18px;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 5px;
  align-items: flex-start;
  margin-right: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: flex-start;
}
.manage-user-text {
  left: -205px;
  bottom: 0px;
  position: absolute;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}
.manage-user-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: 5px;
  justify-content: flex-start;
}
.manage-user-text1 {
  left: -202px;
  bottom: -40px;
  position: absolute;
  text-transform: capitalize;
}
.manage-user-button {
  top: 8px;
  left: 735px;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-style: normal;
  margin-top: 13px;
  font-weight: 500;
  margin-right: 30px;
  padding-right: 0reeUnits;
  text-transform: capitalize;
  background-color: var(--dl-color-primary-700);
}
.manage-user-button1 {
  top: 21px;
  color: var(--dl-color-custom-neutral-dark);
  right: 38px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  padding-right: 0reeUnits;
  text-transform: capitalize;
  background-color: var(--dl-color-custom-primary1);
}
.manage-user-button2 {
  top: 21px;
  left: 642px;
  color: var(--dl-color-custom-neutral-dark);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  padding-right: 0reeUnits;
  text-transform: capitalize;
  background-color: var(--dl-color-success-500);
}
.manage-user-text2 {
  left: 267px;
  bottom: 30px;
  position: absolute;
}
.manage-user-text3 {
  top: 28px;
  left: 382px;
  position: absolute;
}
.manage-user-root-class-name {
  height: auto;
  align-self: stretch;
}
.manage-user-root-class-name1 {
  align-self: stretch;
}
.manage-user-root-class-name2 {
  align-self: stretch;
}
.manage-user-root-class-name3 {
  align-self: stretch;
}






.manage-user-root-class-name10 {
  align-self: stretch;
}
.manage-user-root-class-name11 {
  align-self: stretch;
}
